version: '2'

services:
  mongo:
    image:
        mongo
    restart:
        always

  annotate:
    build:
        context: ./app
    ports:
        - "8000:8000"
    depends_on:
        - mongo

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - annotate
    links:
      - annotate


