<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cochlea</title>

    <link rel="icon" href="/static/cochlea.svg" type="image/svg+xml"/>
    <link rel="shortcut icon" href="/static/cochlea.svg" type="image/svg+xml"/>

    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyHjDJhl9tK1yo9oO_i0r1Qjp446wJUOM"
      type="text/javascript"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"
      integrity="sha256-jwCP0NAdCBloaIWTWHmW4i3snUNMHUNO+jr9rYd2iOI="
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"
      integrity="sha256-LSUpTY0kkXGKvcBC9kbmgibmx3NVVgJvAEfTZbs51mU="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script type="text/javascript" src="/static/settings.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
    <script type="text/javascript" src="/static/app2.js"></script>

    <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
      integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk="
      crossorigin="anonymous" />

    <link rel="stylesheet" href="/static/style.css" />
</head>
<body >

  <template id="welcome-template">
    <section class="section">
      <div class="content has-text-centered">
        <h1>Welcome Back to Cochlea!</h1>
        <p>
          It looks like you don't have an account yet.  Please <router-link
            :to="{ name: 'sign-in', params: { user }}"
            v-if="!user.data">
            sign in</router-link> or <router-link
            :to="{name: 'register'}"
            v-if="!user.data">register</router-link>!
        </p>
      </div>
    </section>
  </template>

  <template id="not-found-template">
    <section class="section">
      <div class="content has-text-centered">
        <h1>Page Not Found</h1>
      </div>
    </section>
  </template>

  <template id="about-template">
    <section class="section">
      <div class="container">
        TODO: About cochlea...
      </div>
    </section>
  </template>

  <template id="sign-in-template">
    <section class="section">
      <div class="container">

        <article v-if="error" class="message is-danger">
          <div class="message-body">
            You supplied invalid credentials.
          </div>
        </article>

        <!-- User Name -->
        <div class="field">
          <label class="label" for="user-name">User Name</label>
          <div class="control">
            <input class="input" type="text" id="user-name" v-model="user.name"/>
          </div>
        </div>

        <!-- Password -->
        <div class="field">
          <label class="label" for="password">Password</label>
          <div class="control">
            <input class="input" type="password" id="password" v-model="user.password"/>
          </div>
        </div>

        <!-- Submit -->
        <div class="field">
          <div class="control">
            <button
              class="button is-link"
              type="submit"
              v-on:click="signIn">Submit</button>
          </div>
        </div>

      </div>

    </<section>
  </template>

  <template id="validation-errors-template">
    <div class="content">
      <ul>
        <li v-for="error in errors">
          <p class="help is-danger">{{ error.message }}</p>
        </li>
      </ul
    </div>
  </template>

  <template id="validated-field-template">
    <div class="field">
      <label class="label" :for="fieldId">{{ labelText }}</label>
      <div class="control  has-icons-right">
        <input class="input" :placeholder="placeHolderText" v-bind:class="{
          'is-success': this.hasBeenValidated && !this.hasErrors,
          'is-danger': this.hasBeenValidated && this.hasErrors,
        }" :type="type" :id="fieldId" v-model.lazy="internalValue"/>
        <span class="icon is-small is-right">
          <i class="icon" v-bind:class="{
            'ion-md-checkmark': this.hasBeenValidated && !this.hasErrors,
            'ion-md-warning': this.hasBeenValidated && this.hasErrors
          }"></i>
        </span>
      </div>
      <validation-errors :errors="errors"></validation-errors>
    </div>
  </template>

  <template id="register-template">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">

            <user-name-input
              v-on:field-errors="fieldErrors"
              v-on:field-value-change="fieldValueChange"
              place-holder-text="e.g. Hal Incandenza"
              :value="name"
              property-name="name"
              field-id="user-name"
              label-text="User Name"></user-name-input>

            <user-email-input
              v-on:field-errors="fieldErrors"
              v-on:field-value-change="fieldValueChange"
              place-holder-text="e.g. hal@eta.net"
              :value="email"
              property-name="email"
              field-id="email"
              label-text="Email"></user-email-input>

            <!-- Password -->
            <user-password-input
              v-on:field-errors="fieldErrors"
              v-on:field-value-change="fieldValueChange"
              :value="password"
              property-name="password"
              field-id="password"
              label-text="Password"></user-password-input>

            <!-- Password Confirm -->
            <user-password-confirm
              v-on:field-errors="fieldErrors"
              v-on:field-value-change="fieldValueChange"
              :context="password"
              :value="passwordConfirmation"
              property-name="passwordConfirmation"
              field-id="password-confirm"
              label-text="Confirm Password"></user-password-confirm>

            <!-- Info Url -->
            <user-info-url
              v-on:field-errors="fieldErrors"
              v-on:field-value-change="fieldValueChange"
              place-holder-text="e.g. https://halation.com"
              :value="infoUrl"
              property-name="infoUrl"
              field-id="info-url"
              label-text="Info URL"></user-info-url>

            <!-- About Me -->
            <div class="field">
              <label class="label" for="about-me">About Me</label>
              <div class="control">
                <textarea class="input about-me" type="text" id="about-me" v-model="aboutMe"></textarea>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="field">
              <div class="control">
                <button
                  :disabled="hasErrors"
                  class="button is-link"
                  type="submit"
                  v-on:click="submit">Submit</button>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="content" v-html="aboutMeMarkdown"></div>
          </div>
        </div>

      </div>
    </<section>
  </template>


  <template id="tags-template">
    <div class="container">
      <div class="tags">
        <div
          v-for="tag in tags"
          class="tag is-info">{{ tag }}</div>
      </div>
    </div>
  </template>

  <template id="add-annotation-modal-template">
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create Annotation</p>
        <button @click="close" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

        <sound-view
          :selectable="false"
          :feature-data="slicedFeatureData"
          :audio-url="audioUrl"
          :start-seconds="modifiedStartSeconds"></sound-view>

        <div class="field">
          <label class="label" for="annotation-tags">Space-Delimited Tags</label>
          <div class="control">
            <input
              class="input"
              type="text"
              id="annotation-tags"
              v-model="rawTags"/>
          </div>
        </div>

        <tags :tags="tags"></tags>

      </section>
      <footer class="modal-card-foot">
        <button
          @click="createAnnotation"
          class="button is-success">Save changes</button>
        <button @click="close" class="button">Cancel</button>
      </footer>
    </div>
  </template>

  <template id="selection-template">
    <div
      ref="container"
      class="selection-container"
      @mousedown.ctrl="startSelection"
      @mouseup.ctrl="endSelection"
      @mouseup="endAdjustments"
      v-bind:style="{
        width: width.toString() + 'px',
        pointerEvents: acceptsEvents ? 'auto' : 'none'
      }">
      <add-annotation-modal
        @confirm-annotation="confirmAnnotation"
        @modal-close="closeModal"
        :span="span()"
        :feature-data="featureData"
        :audio-url="audioUrl"
        :start-seconds="startSeconds"
        v-if="isAddingAnnotation"></add-annotation-modal>
      <div class="selection" v-bind:style="{
          left: startPixels().toString() + 'px',
          width: widthPixels().toString() + 'px',
          pointerEvents: isSelecting ? 'none' : 'auto'
        }"></div>
      <div class="selection-handle" @mousedown="adjustLeft" v-bind:style="{
          left: (startPixels() - handleWidth).toString() + 'px',
          width: handleWidth.toString() + 'px',
          pointerEvents: isSelecting ? 'none' : 'auto',
        }"></div>
      <div class="selection-handle" @mousedown="adjustRight" v-bind:style="{
          left: (startPixels() + widthPixels()).toString() + 'px',
          width: handleWidth.toString() + 'px',
          pointerEvents: isSelecting ? 'none' : 'auto',
        }"></div>

      <!-- Create Annotation Icon -->
      <div
        v-if="!(isAdjusting || isSelecting)"
        @click="addAnnotation"
        class="add-annotation"
        v-bind:style="{
          left: (startPixels() + widthPixels() - 30).toString() + 'px',
      }">
        <icon icon-name="add"></icon>
      </div>

      <!-- Search for Time Range Icon -->
      <div
        v-if="!(isAdjusting || isSelecting)"
        @click="timeRangeSearch"
        class="search-time-range"
        v-bind:style="{
          left: (startPixels() + widthPixels() - 30).toString() + 'px',
      }">
        <icon icon-name="search"></icon>
      </div>

    </div>
  </template>

  <template id="icon-template">
    <span class="icon">
      <i :class="`icon ion-md-${iconName}`"></i>
    </span>
  </template>

  <template id="map-template">
    <section class="section">
      <a class="delete is-large is-pulled-right" v-on:click="closed"></a>
      <div ref="container" class="container map">
      </div>
    </section>
  </template>

  <template id="sound-view-template">
    <div class="sound-view-outer-container">
        <div ref="container" class="sound-view-container">
          <selection
              @save-annotation="saveAnnotation"
              @time-range-search="timeRangeSearch"
              v-if="selectable"
              :feature-data="featureData"
              :audio-url="audioUrl"
              :start-seconds="startSeconds"
              :width="canvasWidth"></selection>
            <canvas
              @click.exact="playAudio"
              ref="canvas"
              class="sound-view-visualization">
            </canvas>
        </div>

        <div class="sound-view-controls">
          <div class="sound-view-zoom-in" v-on:click="zoomIn">
            <icon icon-name="add"></icon>
          </div>
          <div class="sound-view-zoom-out" v-on:click="zoomOut">
            <icon icon-name="remove"></icon>
          </div>
        </div>
    </div>
  </template>

  <template id="annotation-template">
    <div class="card" ref="container">

      <header class="card-header">

        <div class="container">
          <div class="columns">
            <div class="column is-four-fifths">
              <router-link :to="{ name: 'sound', params: { id: soundId() }}">
                <h3 class="card-header-title">{{ sound ? sound.title : '' }}</h3>
                <small-creative-commons-license :license-uri="sound ? sound.license_type : ''">
                </small-creative-commons-license>
              </router-link>

              <h3>{{ `${annotation.start_seconds.toFixed(2)} - ${annotation.end_seconds.toFixed(2)}` }} seconds</h3>
            </div>
            <div class="column">
              <p class="is-size-7">
                  Created by
                  <router-link :to="{ name: 'user', params: { id: createdByUserId() }}">
                    {{ annotation.created_by_user_name }}
                  </router-link> {{ timeago.format(annotation.date_created) }}
              </p>
            </div>
          </div>
        </div>
      </header>

      <div class="card-content">
        <sound-view
          :sound="sound"
          :feature-data="featureData"
          :audio-url="audioUrl"
          v-on:play-audio="audioPlayed"
          :start-seconds="offsetSeconds()"></sound-view>
        <div class="tags">
          <div
            v-on:click="selectQuery(tag)"
            v-for="tag in annotation.tags"
            class="tag is-info">{{ tag }}</div>
        </div>

      </div>

    </div>
  </template>

  <template id="text-query-template">
    <div>
      <!-- Query -->
      <div class="field">
        <label class="label" for="query">{{ labelText }}</label>
        <div class="control">
          <input
            class="input"
            type="search"
            :placeholder="placeHolderText"
            id="query"
            v-model="textQuery"
            v-on:change="queryChange"/>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="field">
        <div class="control">
          <button
            class="button is-link"
            type="submit"
            v-on:click="newSearch">Search</button>
        </div>
      </div>
    </div>
  </template>

  <template id="sound-results-template">
    <section class="section">
      <div class="container">

        <!-- Text search -->
        <div class="section">
          <div class="container">
            <!-- Feature selection -->
            <div class="field">
                <label class="label" for="feature-selection">Feature</label>
                <div class="control">
                  <select id="feature-selection" v-model="currentFeature" @change="changeFeature">
                    <option
                      v-for="feature in allFeatures"
                      v-bind:value="feature"
                      v-bind:key="feature.id">
                      {{ feature.user_name }}
                    </option>
                  </select>
                </div>
            </div>

            <text-query
              label-text="Tags"
              :place-holder-text="placeHolderText"
              :query="query"
              v-on:new-search="newSearch"
              v-on:text-query-change="queryChange"></text-query>

          </div>
        </div>

        <div class="columns">
          <div class="column">
            <!-- Results -->
            <div class="section">
              <div class="container">
                <div class="content has-text-centered" v-if="!items.length">
                  <h2>No Results</h2>
                </div>
                <annotation
                  @select-query="setQuery"
                  v-for="annotation in items"
                  v-on:audio-played="audioPlayed"
                  :annotation="annotation"
                  v-bind:key="annotation.id" />
              </div>
            </div>

            <!-- Pagination -->
            <div class="section">
              <div class="container">
                <pagination
                  @change-page="changePage"
                  :total-pages="totalPages"
                  :current-page="pageNumber"
                  :max-display-pages="5"
                  ></pagination>
              </div>
            </div>
          </div>
          <div v-if="showMap" class="column is-half sticky">
            <explorer
              v-on:closed="mapClosed"
              :similarity-query="similarityQuery"></explorer>
          </div>
        </div>
      </div>
    </<section>
  </template>

  <template id="pagination-template">
    <section class="section">
      <div class="container">
        <nav
          v-if="totalPages > 1"
          class="pagination is-centered"
          role="navigation"
          aria-label="pagination">

          <!-- Previous and Next Links -->
          <a
            v-bind:disabled="isFirstPage"
            @click="visitPreviousPage()"
            class="pagination-previous">Previous page</a>
          <a
            v-bind:disabled="isLastPage"
            @click="visitNextPage()"
            class="pagination-next">Next page</a>

          <ul class="pagination-list">

            <!-- First Page Link -->
            <li v-if="needsFirstPageLink">
              <a @click="visitFirstPage()" class="pagination-link">0</a>
            </li>
            <li v-if="needsFirstPageLink">
              <span class="pagination-ellipsis">&hellip;</span>
            </li>

            <!-- Page Links -->
            <li v-for="page in displayPages">
              <a
                @click="visit(page)"
                v-bind:class="{
                  'is-current': page === currentPage
                }"
                class="pagination-link">{{page}}</a>
            </li>

            <!-- Last Page Link -->
            <li v-if="needsLastPageLink">
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li v-if="needsLastPageLink">
              <a @click="visitLastPage()" class="pagination-link">{{lastPage}}</a>
            </li>

          </ul>
        </nav>
      </div>
    </section>
  </template>

  <template id="user-detail-template">
    <section class="section">
      <div class="content">
        <h1>
          <user-type-icon :user-type="user.user_type"></user-type-icon>
          {{ user.user_name }}
        </h1>
        <p v-if="links.sounds">
          <router-link :to="{ name: 'user-sounds', params: { id: user.id }}">
            Sounds from this user
          </router-link>
        </p>
        <p v-if="links.annotations">
          <router-link :to="{ name: 'user-annotations', params: { id: user.id }}">
            Annotations from this user
          </router-link>
        </p>
        <p class="is=size-7">
          created {{ timeago.format(user.date_created) }}
        </p>
        <p>
          <a v-bind:href="user.info_url">More info</a>
        </p>
        <p v-html="aboutMe()"></p>
      </div>
    </section>
  </template>

  <template id="user-type-icon-template">
    <span class="icon">
      <i class="icon" v-bind:class="{
        'ion-md-book': userType === 'dataset',
        'ion-md-body': userType === 'human',
        'ion-md-code': userType === 'featurebot',
        'ion-md-list-box': userType === 'aggregator'
      }"></i>
    </span>
  </template>

  <template id="user-summary-template">
    <div class="card">
      <div class="card-header">
        <div class="level">
          <div class="level-left">
            <user-type-icon :user-type="user.user_type"></user-type-icon>
            <router-link :to="{ name: 'user', params: { id: user.id }}">
              <h3 class="card-header-title">{{ user.user_name }}</h3>
            </router-link>
          </div>
          <div class="level-right">
            <span class="is-size-7">
              created {{ timeago.format(user.date_created) }}
            </span>
          </div>
        </div>

      </div>
      <div class="card-content user-summary-about-me">
        <div class="content" v-html="aboutMeRendered()">
        </div>
      </div>
    </div>

  </template>

  <template id="users-template">
    <div class="container">

      <!-- Text search -->
      <text-query
        label-text="User Name"
        place-holder-text="e.g. fft or mfcc"
        :query="query"
        v-on:new-search="newSearch"
        v-on:text-query-change="queryChange"></text-query>

      <!-- User Type Selection -->
      <div class="section">
        <div class="container">
          <div class="control">
            <label class="radio">
              <input type="radio" value="" v-model="userType">
              All User Types
            </label>
            <label class="radio">
              <input type="radio" value="human" v-model="userType">
              <user-type-icon user-type="human"></user-type-icon>
              User

            </label>
            <label class="radio">
              <input type="radio" value="dataset" v-model="userType">
              <user-type-icon user-type="dataset"></user-type-icon>
              Dataset

            </label>
            <label class="radio">
              <input type="radio" value="featurebot" v-model="userType">
              <user-type-icon user-type="featurebot"></user-type-icon>
              Featurebot

            </label>
            <label class="radio">
              <input type="radio" value="aggregator" v-model="userType">
              <user-type-icon user-type="aggregator"></user-type-icon>
              Aggregator/Indexer

            </label>
          </div>
        </div>
      </div>

      <!-- Results -->
      <div class="section">
        <div class="container">
          <user-summary
            v-for="user in items"
            v-bind:key="user.id"
            :user="user" />
        </div>
      </div>

      <!-- Pagination -->
      <div class="section">
        <div class="container">
          <pagination
            @change-page="changePage"
            :total-pages="totalPages"
            :current-page="pageNumber"
            :max-display-pages="5"
            ></pagination>
        </div>
      </div>
    </div>
  </template>

  <template id="sounds-template">
    <section class="section">
      <div class="container">
        SOUNDS!
      </div>
    </section>
  </template>

  <template id="sound-template">
    <section class="section">
      <div class="container">

        <div class="content">
          <h1>{{ sound.title }}</h1>
          <p>
            Created by
            <router-link :to="{ name: 'user', params: { id: createdByUserId }}">
              {{ sound.created_by_user_name }}
            </router-link> {{ timeago.format(sound.date_created) }}
          </p>
          <p>
            <a target="_blank" :href="sound.info_url">
              More info about this sound
            </a>
          </p>
          <p>
            <router-link
              :to="{ name: 'sound-annotations', params: { id: sound.id }}">
              Annotations for this sound
            </router-link>
          </p>
          <p>
            <creative-commons-attributes :license-uri="sound ? sound.license_type : ''">
            </creative-commons-attributes>
          </p>

        </div>

        <sound-view
          :sound="sound"
          :feature-data="featureData"
          :audio-url="audioUrl"
          :start-seconds="0"></sound-view>

        <tags :tags="sound.tags"></tags>
      </div>
    </<section>
  </template>

  <template id="small-creative-commons-license-template">
    <img :src="iconUrl" width="80" height="15"></img>
  </template>

  <template id="creative-commons-attributes-template">
    <div class="container">
      <p>
        This sound is licensed under a Creative Commons
        <a target="_blank" :href="licenseUri">{{ licenseDisplayName }}</a>
        license.
      </p>
      <p>
        <a :href="licenseUri" target="_blank">
          <img
            class="cc-attribute"
            v-for="url in iconUrls"
            :src="url"
            width="32" height="32"></img>
        </a>
      </p>
    </div>
  </template>

  <div id="app">

    <!-- Header -->
    <nav class="navbar has-shadow" role="navigation">
      <div class="navbar-brand">

        <router-link class="navbar-item" :to="{ name: 'root' }">
          <img src="/static/cochlea.svg" width="32" height="32">
          <h3>Cochlea</h3>
        </router-link>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample">

          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div v-if="user.data" class="navbar-start">
          <router-link class="navbar-item ":to="{ name: 'annotations' }">
            Annotations
          </router-link>
          <router-link class="navbar-item ":to="{ name: 'users' }">
            Users
          </router-link>
          <router-link class="navbar-item ":to="{ name: 'sounds' }">
            Sounds
          </router-link>
          <router-link class="navbar-item ":to="{ name: 'about' }">
            About
          </router-link>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button" v-if="user.data" v-on:click="logOut">
                Log Out
              </a>

              <router-link
                class="button"
                v-if="!user.data"
                :to="{ name: 'sign-in', params: { user }}">
                Sign In
              </router-link>

              <router-link
                class="button"
                v-if="!user.data"
                :to="{ name: 'register' }">
                Register
              </router-link>

            </div>
          </div>
        </div>
      </div>
    </nav>

    <div
      v-if="globalMessage"
      class="global-notification notification has-text-centered"
      v-bind:class="{
        'is-success': globalMessage.type === 'success',
        'is-danger': globalMessage.type === 'error'
      }">
      <button @click="clearGlobalMessage" class="delete"></button>
      {{ globalMessage.message }}
    </div>

    <!-- Main Content -->
    <section class="section" id="main-content">
      <div class="container">
        <!-- route outlet -->
        <!-- component matched by the route will render here -->
        <router-view></router-view>
      </div>
    </section>

  </div>

</body>
</html>
