<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Annotate UI</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script type="text/javascript" src="settings.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="app2.js"></script>
</head>
<body>

  <template id="welcome-template">
    <section>
      Welcome!
    </section>
  </template>

  <template id="sign-in-template">
    <section>
      <h2 v-if="error">ERROR!</h2>
      <label for="user-name">User Name</label>
      <input type="text" id="user-name" v-model="user.name"/>
      <label for="password">Password</label>
      <input type="password" id="password" v-model="user.password"/>
      <button type="submit" v-on:click="signIn">Submit</button>
    </<section>
  </template>

  <template id="register-template">
    <section>
      Register
    </<section>
  </template>

  <template id="users-template">
    <section>
      Users List
    </<section>
  </template>

  <template id="annotations-template">
    <section>
      Annotations List
    </<section>
  </template>

  <template id="sound-template">
    <section>
      Individual Sound {{ id }}
    </<section>
  </template>

  <template id="user-template">
    <section>
      <p>{{userName}}</p>
      <p>{{aboutMe}}</p>
    </<section>
  </template>

  <div id="app">
    <header>
      <h3>Some Kind of Header</h3>
    </header>
    <p>
      <!-- use router-link component for navigation. -->
      <!-- specify the link by passing the `to` prop. -->
      <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
      <router-link
        :to="{ name: 'sign-in', params: { user }}"
        v-if="!user.data">
        Sign In
      </router-link>
      <router-link
        to="/register"
        v-if="!user.data">Register</router-link>
    </p>

    <!-- route outlet -->
    <!-- component matched by the route will render here -->
    <router-view></router-view>
  </div>

</body>
</html>
