.card+.card {
	margin-top: 20px
}

html {
	scroll-behavior: smooth
}

#temp-container {
    position:relative;
}

.sound-view-outer-container {
  position: relative;
}

.sound-view-controls {
  position:absolute;
  top: 5px;
  right:20px;
}

.add-annotation, .sound-view-controls, .search-time-range, .play-time-range {
	font-weight: bold;
	font-size: 2em;
	cursor: pointer;
}

.add-annotation, .search-time-range, .play-time-range {
	position: absolute;
	pointer-events: auto;
}
.add-annotation {
	top: 0px;
}
.search-time-range {
	top: 30px;
}
.play-time-range {
	top: 60px;
}
.sound-view-container {
    overflow-x: auto;
    overflow-y: hidden;
    border: solid 1px #000;
    height: 300px;
		position: relative;
}

.sound-view-visualization {
  cursor: pointer;
}

.selection-container,
.selection,
.selection-handle {
	position: absolute;
	height: 100%;
}

.selection-container {
	background-color: #ffffff00;
}

.selection {
	background-color: #ff000033;
}
.selection-handle {
	background-color: #ff0000;
	cursor: grab;
}
.modal {
	pointer-events: auto;
}
.global-notification {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.user-summary-about-me {
	max-height: 200px;
	overflow: hidden;
}

.about-me {
	height: 200px;
}
.cc-attribute {
	margin-right:5px;
}
.map {
	width: 100%;
	height: 400px;
	border: solid 1px #eee;
}
.sticky {
	position: sticky;
	top: 0.1rem;
	height: 100vh;
}
.similar-sounds-button {
	margin: 1em 0em;
}
.visual-explorer > * {
	margin: 1em 0em;
}
