.card+.card {
	margin-top: 20px
}

#temp-container {
    position:relative;
}
.sound-view-outer-container {
  position: relative;
}

.sound-view-controls {
  position:absolute;
  top: 5px;
  right:20px;
  font-weight:bold;
  font-size:2em;
  cursor: pointer;
}

.sound-view-container {
    overflow-x: auto;
    overflow-y: hidden;
    border: solid 1px #000;
    height: 300px;
}

.sound-view-visualization {
  cursor: pointer;
}
