.card+.card {
	margin-top: 20px
}

#temp-container {
    position:relative;
}
.sound-view-outer-container {
  position: relative;
}

.sound-view-controls {
  position:absolute;
  top: 5px;
  right:20px;
}

.add-annotation, .sound-view-controls {
	font-weight: bold;
	font-size: 2em;
	cursor: pointer;
}
.add-annotation {
	background-color: #00ff00;
	border-radius: 25px;
	top: 20px;
	position: absolute;
	pointer-events: auto;
}
.sound-view-container {
    overflow-x: auto;
    overflow-y: hidden;
    border: solid 1px #000;
    height: 300px;
		position: relative;
}

.sound-view-visualization {
  cursor: pointer;
}

.selection-container,
.selection,
.selection-handle {
	position: absolute;
	height: 100%;
}

.selection-container {
	background-color: #ffffff00;
}

.selection {
	background-color: #ff000033;
}
.selection-handle {
	background-color: #ff0000;
	cursor: grab;
}

.modal {
	pointer-events: auto;
}
.global-notification {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.user-summary-about-me {
	max-height: 200px;
	overflow: hidden;
}
